---
---
@import "{{ site.theme }}";

a:link {
  color: #c03728;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #c03728;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #82485d;
  background-color: transparent;
  text-decoration: none;
}
